{
  "openapi": "3.0.1",
  "info": {
    "title": "OP APIs",
    "description": "OP APIs",
    "version": "1.0.0",
    "license": {
            "name": "MIT"
        }
  },
  "servers": [
       {
            "url": "https://pro.op.com",
            "description": "Production server"
        },
        {
            "url": "https://staging1.op.com",
            "description": "Sandbox server for testing and integration without affecting live data"
        },
    {
      "url":"https://192.168.3.91:9001/"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/payment-link/delete/{id}": {
      "put": {
        "tags": [
          "Third-Party Payment Link Operations"
        ],
        "summary": "Soft delete a payment link record",
        "description": "This DELETE API is used to process a soft delete of a payment link record from the database.",
        "operationId": "deletePaymentLinkRecord",
        "parameters": [
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Order ID for retrieving the payment link record",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request. Invalid payment link ID or input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK. Payment link record deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. You do not have permission to perform this action",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The user has exceeded the allowed number of requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. An unexpected error occurred while processing the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict. The payment link record could not be deleted due to a conflict with the current state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Access is denied due to invalid credentials or missing authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found. The payment link record with the specified ID does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payment-link/generate": {
      "post": {
        "tags": [
          "Third-Party Payment Link Operations"
        ],
        "summary": "Generate Payment Link",
        "description": "Generate payment link for the user based on the provided request parameters.",
        "operationId": "generatePaymentLinkForCustomer",
        "parameters": [
          {
            "name": "Time-Zone",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request payload for generating payment link",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentLinkPublicRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request. The input data is invalid or malformed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. You do not have permission to access this resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found. The requested resource could not be found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK. Payment link generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict. The request could not be completed due to a conflict with the current state of the resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The user has sent too many requests in a given amount of time",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Access is denied due to invalid credentials or missing authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. An unexpected error occurred on the server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payment-link/get/{id}": {
      "get": {
        "tags": [
          "Third-Party Payment Link Operations"
        ],
        "summary": "Retrieve the payment link record by order ID.",
        "description": "This GET API is used to retrieve the payment link record by the order ID.",
        "operationId": "getPaymentLinkRecordByOrderId",
        "parameters": [
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Order ID for retrieving the payment link record",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request. Invalid or malformed order ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK. Payment link record retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The user has exceeded the allowed number of requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. An unexpected error occurred while processing the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. You do not have permission to access this payment link record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found. No payment link record exists for the specified order ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Access is denied due to invalid credentials or missing authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict. A conflict occurred while retrieving the payment link record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payment-link/get/{fromDate}/{toDate}": {
      "get": {
        "tags": [
          "Third-Party Payment Link Operations"
        ],
        "summary": "Retrieve the payment link records within the given date range.",
        "description": "This GET API is used to retrieve payment link records based on the provided date range with pagination support.",
        "operationId": "getPaymentLinkRecordInDateRange",
        "parameters": [
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromDate",
            "in": "path",
            "description": "Start date in format yyyy-MM-dd HH:mm:ss",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2025-01-01 00:00:00"
          },
          {
            "name": "toDate",
            "in": "path",
            "description": "End date in format yyyy-MM-dd HH:mm:ss",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2025-01-31 23:59:59"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination (default: 0)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of records per page (default: 10)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request. Invalid or malformed date range",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict. A conflict occurred while retrieving the payment link records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found. No payment link records exist for the given date range",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The user has exceeded the allowed number of requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. An unexpected error occurred while processing the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK. Payment link records retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. You do not have permission to access these payment link records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Access is denied due to invalid credentials or missing authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transactions-history/get/{id}": {
      "get": {
        "tags": [
          "Third-Party Transaction Details"
        ],
        "summary": "Retrieve a transaction by order ID",
        "description": "This GET API retrieves transaction details from the database based on the provided order ID.",
        "operationId": "getTransactionById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Order ID for retrieving the transactions",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error. An unexpected error occurred while processing the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. Invalid or malformed order ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found. No transaction exists for the specified ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Access is denied due to invalid or missing authorization token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The user has exceeded the allowed number of requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict. A conflict occurred while processing the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. You do not have permission to access this transaction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK. Transaction details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transactions-history/{fromDate}/{toDate}": {
      "get": {
        "tags": [
          "Third-Party Transaction Details"
        ],
        "summary": "Retrieve the transactions records within the given date range.",
        "description": "This GET API is used to retrieve transactions records based on the provided date range with pagination support.",
        "operationId": "getUserTransactionHistory",
        "parameters": [
          {
            "name": "Time-Zone",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromDate",
            "in": "path",
            "description": "Start date in format yyyy-MM-dd HH:mm:ss",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2025-01-01 00:00:00"
          },
          {
            "name": "toDate",
            "in": "path",
            "description": "End date in format yyyy-MM-dd HH:mm:ss",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2025-01-31 23:59:59"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination (default: 0)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of records per page (default: 10)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error. An unexpected error occurred while processing the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. Invalid or malformed date range",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found. No transactions records exist for the given date range",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict. A conflict occurred while retrieving the transactions records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The user has exceeded the allowed number of requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Access is denied due to invalid credentials or missing authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK. Transactions records retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. You do not have permission to access these transactions records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      }
    },
     "/business-details/{id}": {
      "get": {
        "tags": [
          "Third-Party User Business Details"
        ],
        "summary": "Retrieve a business details by business id",
        "description": "This GET API retrieves business details from the database based on the provided business ID.",
        "operationId": "getBusinessDetailsByBusinessIdForAuth",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Business ID for retrieving the business details",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request. Invalid or malformed business ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. You do not have permission to access this transaction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. An unexpected error occurred while processing the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK. Business details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The user has exceeded the allowed number of requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found. No business exists for the specified ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict. A conflict occurred while processing the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Access is denied due to invalid or missing authorization token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CommonResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "response": {
            "type": "object"
          }
        }
      },
      "PaymentLinkPublicRequest": {
        "required": [
          "customerName",
          "invoiceAmount",
          "isTermsAndConditionsAccepted",
          "notes"
        ],
        "type": "object",
        "properties": {
          "customerName": {
            "type": "string"
          },
          "invoiceNo": {
            "maxLength": 20,
            "minLength": 0,
            "type": "string"
          },
          "invoiceAmount": {
            "minimum": 10,
            "type": "number",
            "format": "double"
          },
          "notes": {
            "type": "string"
          },
          "isTermsAndConditionsAccepted": {
            "type": "boolean"
          },
          "currency": {
            "type": "string"
          },
          "invoiceRequired": {
            "type": "boolean"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "apiKey",
        "in": "header"
      }
    }
  }
}
